* {
    margin: 0;
    padding: 0;

}

.conteiner {
    display: grid;
    grid-template-columns: 1fr 90%;
    grid-template-areas:
        "header     header"
        "lateral    cards"
        "pie        pie";
}

header {
    display: grid;
    grid-area: header;
    background-color: rgb(233, 227, 218);
    justify-content: center;
    
}

header img {
    width: 200px;
    height: auto;
}


.lateral {
    grid-area: lateral;
    background-color: aqua;

}

.cards {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-area: cards;
    justify-content: space-around;
     background-color: rgb(233, 227, 218);

}

.cards img {
    width: 200px;
    height: 250px;
    border-radius: 2px;
    padding: 10px;
}

.cards h3 {
    font-size: 20px;

}

.cards p {
    padding: 10px;
    font-size: 16px;
    text-align: center;

}

.cards button {
    width: 150px;
    height: 40px;
    border-radius: 2px;
    margin-bottom: 5px;
    background-color: burlywood;
    font-size: 18px;
   

}



.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: auto;
    margin: 10px;
}

footer {
    grid-area: pie;
    background-color: blueviolet;
}