* {
    margin: 0;
    padding: 0;


}

.conteiner {
    display: grid;
    grid-template-columns: 1fr 90%;
    grid-template-areas:
        "header     header"
        "lateral    cards"
        "pie        pie";
}

header {
    display: grid;
    grid-area: header;
    background-color: rgb(232, 217, 194);
    border-bottom: 1px solid #333;

}

header img {
    width: 180px;
    height: auto;
}


header.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
    font-size: 20px;
}

nav.inicio ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav.inicio a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    transition: color 0.3s ease;
}




.lateral {
    display: flex;
    flex-direction: column;
    grid-area: lateral;
    background-color: rgb(233, 227, 218);
    font-family: 'Times New Roman', Times, serif;

}

.lateral h2 {
    font-size: 25px;
    padding: 20px 5px;
}

.lateral li,
a {
    padding: 3px;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-area: cards;
    justify-content: space-around;
    background-color: rgb(233, 227, 218);

}

.cards img {
    width: 200px;
    height: 250px;
    border-radius: 15px;
    padding: 10px;
}

.cards h3 {
    font-size: 24px;

}

.cards p {
    width: 200px;
    height: 120px;
    padding: 10px;
    font-size: 16px;
    text-align: center;

}

.cards button {
    width: 150px;
    height: 40px;
    border-radius: 2px;
    background-color: rgb(232, 217, 194);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;

}



.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: auto;
    margin: 10px;
}

footer {
    grid-area: pie;
    background-color: rgb(232, 217, 194);
    text-align: center;
    padding: 20px 0;
    font-size: 0.9rem;
    border-top: 1px solid #333;
}